global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: prometheus

  - job_name: grafana
    static_configs:
      - targets: ['localhost:3000']
        labels:
          instance: grafana

  - job_name: gcu-exporter
    static_configs:
      - targets: ['localhost:9400']
        labels:
          instance: gcu-exporter
